body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 18px;
  font-size: 32px;
  font-weight: 900;
}

.body {
  flex: 1;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  gap:15px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-left: 18px;
}

a {
  text-decoration: none;
  color:#eee;
  font-size: 24px;
  
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 6px;
  width: 250px;
  height: 300px;
  padding: 2em;
  gap: 18px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex ;
  justify-content: center;
  align-items: center;
}